html {
    height: 100%;
    overflow: hidden;
}

body {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    font-family: Calibri, Helvetica, Arial, sans-serif;
    overflow: hidden;
}

.container {
    position: relative;
    margin: auto;
}

.inner-circle {
    background: rgb(254,254,254);
    background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(155,155,154,1) 100%);
    background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(155,155,154,1) 100%);
    background: linear-gradient(to bottom, rgba(254,254,254,1) 0%,rgba(155,155,154,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#9b9b9a',GradientType=0 );
    width: 400px;
    height: 400px;
    line-height: 400px;
    margin: auto;
    text-align: center;
    font-size: 3em;
    border-radius: 50%;
    border: 60px solid white;
    position: relative;
    color: #002d62;
    font-weight: bold;
}

.inner-circle:before {
    content: ' ';
    position: absolute;
    width: 580px;
    height: 580px;
    background: #b3b2b2;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}

.circle {
    height: 150px;
    display: flex;
    align-items: center;
    width: 150px;
    text-align: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    background: rgb(254,254,254);
    background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(155,155,154,1) 100%);
    background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%,rgba(155,155,154,1) 100%);
    background: linear-gradient(to bottom, rgba(254,254,254,1) 0%,rgba(155,155,154,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#9b9b9a',GradientType=0 );
    position: absolute;
    border-radius: 50%;
    color: #002d62;
    transition: all ease .1s;
    font-weight: bold;
    font-size: 18px;
    cursor: default;
}

.circle span {
    width: 100%;
    padding: 0 5px;
}

.circle:hover {
    border: 4px solid;
}

.circle--top {
    top: -90px;
    left: 50%;
    transform: translateX(-50%);
}

.circle--top-right {
    top: 50px;
    right: -60px;
}

.circle--bottom-right {
    right: -50px;
    bottom: 50px;
}

.circle--bottom {
    left: 50%;
    transform: translateX(-50%);
    bottom: -90px;
}

.circle--bottom-left {
    left: -50px;
    bottom: 50px;
}

.circle--top-left {
    top: 50px;
    left: -60px;
}

.content {
    position: absolute;
    width: 350px;
    opacity: 0;
    transition: all ease .25s;
    pointer-events: none;
}

.circle:hover .content {
    opacity: 1;
}

.content--top {
    right: -370px;
    top: -20px;
}

.content--top-right {
    top: -80px;
    right: -240px;
}

.content--bottom-right {
    bottom: -80px;
    left: 60px;
}

.content--bottom {
    bottom: 0;
    right: -380px;
}

.content--bottom-left {
    bottom: -80px;
    left: -260px;
}

.content--top-left {
    top: -80px;
    left: -240px;   
}